.container {
    background-color: #F9F5C4;
    border-radius: 1em;
    width: 40%;
    height: 19em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.elementsContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.textContainer {
    padding: 0.125em 1em;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.boton {
    width: 10em;
    align-items: center;
    margin: 2em 1em 2em 1em;
    background-clip: padding-box;
    background-color:rgb(184, 134, 87);
    border: 1px solid transparent;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    padding: 1em;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}

.boton:hover {
    background-color: rgb(192, 128, 67);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgb(255, 255, 255);
    transform: translateY(-1px);
}