.container {
    border: 0.063em solid;
    border-color: var(--cards-border-color);
    width: 28%;
    height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1em;
    padding: 1em;
    min-width: 22.5em;
}

.elementsContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

.textContainer {
    padding: 0.125em 1em;
    font-weight: 400;
    font-size: 0.875em;
    display: flex;
    flex-direction: column;
}

.cardElements {
    margin: 0.25em;
}

.cardElements p {
    font-style: italic;
}

.cardsButton {
    width: 7em;
    align-items: center;
    justify-content: center;
    margin: 2em 1em 2em 1em;
    background-color: var(--body-color);
    border: 0.063em solid;
    border-color: var(--cards-border-color);
    border-radius: 2em;
    color: var(--dark-color);
    cursor: pointer;
    display: inline-flex;
    font-size: 0.75em;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
    transition: all 250ms;
}

.cardsButton:hover {
    background-color: var(--dark-color);
    color: var(--body-color);
}