.contenedorgral {
    background-color: #FEFBCF;
    color: black;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 20px;
  }
  
  .nav {
    display: flex;
  }
  
  .ul {
    list-style-type: none;  
    display: flex;
    gap: 20px;  
    margin: 0; 
    padding: 0;  
  }
  
  .li {
    display: flex;
    align-items: center;
  }
  
  .a {
    text-decoration: none;  /* Elimina el subrayado de los enlaces */
    color: black;
    font-weight: bold;
  }

  .a:hover{
    text-decoration: underline solid 2px;
  }
  