.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #fefbcf;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.menu li a{ 
    text-decoration: none;
    color: black;

}