.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2em 23em 2em 23em ;
}

.contenedor h1{
    padding-bottom: 0.9em;
    padding-top: 0.6 em;
    font-size: 40px
}

.contenedor p{
    font-size: 18px;
    margin-bottom: 2em ;
}