.container{
    background-color: black;
}

.hero_bkg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/museo.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.hero_bkg h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 30px;
}


.container button{
    align-items: center;
    background-clip: padding-box;
    background-color:rgb(184, 134, 87);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    min-height: 3rem;
    padding: 20px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .container button:hover,
  .container button:focus {
    background-color: rgb(192, 128, 67);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgb(255, 255, 255);
  }
  
  .container button:hover {
    transform: translateY(-1px);
  }