.contenedor{
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.contenedor h1{
    padding: 2em;
}