.container{
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container h1{
    padding: 2em;
}

.contactBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3em 4.5em 3em 4.5em;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.museumContact {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    margin-bottom: 2em;
}

.museumContact h4 {
    margin-bottom: 0.5em;
}

.museumContact ul {
    list-style: none;
}

.museumAddresses {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.museumAddresses h4 {
    margin-bottom: 0.5em;
}

.museumAddresses ul {
    list-style: none;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.inputText {
    font-family: var(--primary-font);
    margin: 1.5em 1.5em 1.5em 0;
    padding-right: 20em;
    padding-bottom: 1em;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #96958E;
}

.inputText:focus {
    border: none;
    border-bottom: 1.5px solid #292826;
    transition: all 250ms;
}


.buttonForm {
    cursor: pointer;
    margin-top: 2em;
    background-color: var(--dark-color);
    color: #fff;
    border: none;
    border-radius: 1.5em;
    padding: 1em;
    width: 10em;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.buttonForm:hover {
    transition: all 250ms;
    background-color: #634203;
    color: #fff;
    border: 1px solid #634203;
}