.container {
  font-family: var(--primary-font);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divDatePlace {
  margin-top: 2em;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.divDatePlace p{
  width: 100%;
}

.detailsContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.generalInformation {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generalInformation h2 {
  margin-right: 5em;
  margin-left: 5em;
  width: 60%;
}

.generalInformation p {
    margin-top: 0.5em;
}

.bodyInformation {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyInformation p {
  width: 70%;
  margin-top: 2em;
  text-align: justify;
}

.authorsInformation {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.authors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1em;
}

.authorsInformation p {
  margin-top: 0.5em;
  text-align: center;
}