.main {
  width: 100%;
}

/* .containerCardsGrid {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFF; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}*/